@font-face {
   font-family: 'Inter';
   src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
      url('../fonts/inter/Inter-Bold.woff') format('woff');
   font-weight: 700;
}

@font-face {
   font-family: 'Inter';
   src: url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
      url('../fonts/inter/Inter-Medium.woff') format('woff');
   font-weight: 500;
}

@font-face {
   font-family: 'InterExtra';
   src: url('../fonts/inter/inter_extra_bold.woff2') format('woff2'),
      url('../fonts/inter/inter_extra_bold.woff') format('woff');
   font-weight: 700;
}

@font-face {
   font-family: 'Helvetica';
   src: url('../fonts/helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('../fonts/helvetica/HelveticaNeueCyrMedium.woff') format('woff');
   font-weight: 500;
}

@font-face {
   font-family: 'Helvetica';
   src: url('../fonts/helvetica/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('../fonts/helvetica/HelveticaNeueCyr-Roman.woff') format('woff');
   font-weight: 400;
}
