.button {
   position: relative;
   font: 14px/15px 'Inter', 'Arial', sans-serif;
   font-weight: 500;
   color: #000000;
   border: 1px solid #e2e3e5;
   background: #ffffff;
   border-radius: 6px;
   cursor: pointer;
   transition: 0.2s;
   border-radius: 6px;
}

.button_little {
   width: 52px;
   height: 48px;
}

.button_small {
   width: 72px;
   height: 48px;
}

.button_middle {
   width: 152px;
   height: 48px;
}

.button_big {
   width: 232px;
   height: 64px;
   background: #5d5fef;
   color: #ffffff;
}
